.todo-list {
  .todo-entry {
    display: flex;
    justify-content: space-between;
    * {
      cursor: pointer;
    }

    label {
      display: flex;
      gap: 5px;
    }

    .btn-delete {
        width: 60px;
    }
  }
}
